<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<date>2008-08-02T05:25:50Z</date>
	<date>2008-08-02T05:25Z</date>
	<date>2008-08-02T05Z</date>
	<date>2008-08-02Z</date>
	<date>2008-08Z</date>
	<date>2008Z</date>
</array>
</plist>
